#s-la-box-2908 #s-srch-source-0 .col-md-3 {
  flex-direction: column-reverse;
  display: flex;
}

:root {
  --lsu-purple: #3c1053;
  --lsu-gold: #fdd023;
  --black: #232323;
  --gray: #434343;
  --medium-gray: #999999;
  --light-medium-gray: #dbdbdb;
  --light-gray: #e7e7e7;
  --lighter-gray: #f2f2f2;

  --spacer: 16px;

  font-size: 16px;
}

.cursor-pointer {
  cursor: pointer;
}

.gold {
  color: var(--lsu-gold)
}

.text-transform-none {
  text-transform: none;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.letter-spacing-1 {
  letter-spacing: calc(var(--spacer) * 0.125)
}

.letter-spacing-2 {
  letter-spacing: calc(var(--spacer) * 0.25)
}

.letter-spacing-3 {
  letter-spacing: calc(var(--spacer) * 0.375)
}

.letter-spacing-4 {
  letter-spacing: calc(var(--spacer) * 0.5)
}

.letter-spacing-5 {
  letter-spacing: calc(var(--spacer) * 0.625)
}

.letter-spacing-6 {
  letter-spacing: calc(var(--spacer) * 0.75)
}

.letter-spacing-7 {
  letter-spacing: calc(var(--spacer) * 0.875)
}

.letter-spacing-8 {
  letter-spacing: var(--spacer)
}

/* Footer styles */

#custom-footer {
  background-color: var(--black);
  text-transform: uppercase;
  color: var(--light-gray) !important;
  font-size: 1rem;
  text-transform: capitalize;
}

#custom-footer p {
  margin: 0;
}

#custom-footer a {
  font-size: 1.125rem;
}

#custom-footer a:hover,
#custom-footer i:hover {
  transition: 0.7s ease;
  color: var(--lsu-gold) !important
}

#custom-footer i {
  font-size: 2.5rem;
  margin: 0 calc(var(--spacer) * 0.5) 0 0;
  color: var(--light-gray) !important;
}

#custom-footer #ask-us-btn {
  background-color: transparent;
  padding: 1.875rem 2.5rem;
  font-size: 1.625rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  border-radius: 8px;
  border: 2px solid var(--light-gray);
  margin-top: 5.625rem;
  margin-bottom: 5rem;
  display: inline-flex;
}

#custom-footer #ask-us-btn .icon-wrapper {
  display: inline-flex;
  align-items: center;
  width: 2.5rem;
  margin-left: 12px;
}

#custom-footer #ask-us-btn .fa-secondary {
  fill: var(--lsu-gold) !important;
}

#custom-footer #ask-us-btn .fa-primary {
  fill: var(--lighter-gray) !important;
}

#footer-logo {
  width: 100px;
}

#custom-footer a {
  color: var(--light-gray);
}

@media (max-width: 1199px) {
  #custom-footer .footer-section {
    width: 240px;
  }
}

/* Header styles */

@media (min-width: 87.5rem) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1600px;
  }

  .container,
  .container-fluid,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
  color: var(--black);
}

a:focus,
a:hover {
  color: initial;
  text-decoration: none;
}

header {
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.15rem;
  z-index: 1
}

#s-la-page-title-bar {
  display: none;
}

#spacer {
  display: none;
}

.scrolled #spacer {
  display: none;
}

@media (max-width: 1199px) {
  #spacer {
    display: flex;
  }
}

@media (max-width: 767px) {
  #spacer {
    display: none;
  }
}

#nav-container {
  background: white;
  height: 108px;
}

#nav-container>.container {
  transition: 300ms;
}

.scrolled #nav-container {
  height: auto;
}

.scrolled #nav-container>.container {
  max-width: 100vw;
}

.logo-container {
  height: 75px;
}

.scrolled .logo-container {
  height: 60px;
}

@media (max-width: 1199px) {
  .logo-container {
    height: 64px;
    padding: 15px 0;
  }
}

.navbar-header {
  transition: all 0.2s ease-in-out;
}

.scrolled .navbar-header {
  justify-content: flex-start;
}

@media (max-width: 1199px) {
  .navbar-header {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .navbar-header {
    display: flex;
    justify-content: flex-start;
    margin: 0 !important;
  }
}

#logo {
  transition: all 0.2s ease-in-out;
  fill: var(--medium-gray);
}

#logo:hover {
  fill: var(--lsu-purple);
}

.navbar-footer button {
  background-color: white;
  -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 12px 16px;
}

.navbar-footer button i {
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 16px;
  color: var(--medium-gray);
}

.nav-footer-btn {
  margin: 8px;
  margin-right: 15px;
  margin-left: 0;
  letter-spacing: 0.0625rem;
}

button.nav-footer-btn i {
  font-size: 1.5rem;
  color: var(--lsu-gold);
}

@media (max-width: 767px) {
  div.navbar-footer button {
    margin: 4px;
    width: 48px;
    height: 48px;
    display: flex !important;
    justify-content: center;
  }

  div.navbar-footer button i {
    font-size: 1rem;
  }
}

#ask-us {
  display: inline-flex;
}

#ask-us .title {
  font-size: 0.75rem;
  margin-right: 8px;
}

#ask-us .icon-wrapper {
  width: 1.5rem;
  display: inline-flex;
  align-items: center;
}

#ask-us-modal .title {
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-right: 8px;
}

#ask-us-modal .icon-wrapper {
  width: 3rem;
  display: inline-flex;
  align-items: center;
}

#ask-us .icon-wrapper .fa-primary,
#ask-us-modal .icon-wrapper .fa-primary {
  fill: var(--lsu-purple);
}

#ask-us .icon-wrapper .fa-secondary,
#ask-us-modal .icon-wrapper .fa-secondary {
  fill: var(--lsu-gold);
}

@media (max-width: 1199px) {
  #ask-us .title {
    display: none;
  }
}

.modal-content {
  border-radius: 14px
}

.modal-header {
  height: 112px;
}

.modal-body {
  padding: 2rem 3rem
}

.s-la-widget {
  margin-top: 16px
}

#search-button {
  opacity: 0;
  pointer-events: none;
  transition: 0.15s ease;
}

@media(max-width: 767px) {
  .scrolled #search-button {
    opacity: 1;
    pointer-events: all;
  }
}

#main-container {
  top: 20px;
  left: 0;
  right: 0;
  width: max-content;
  margin: 0 auto;
  z-index: 1;
}

.scrolled #main-container {
  top: 12px;
}

@media (max-width: 1199px) {
  #main-container {
    top: 72px;
  }
}

@media (max-width: 767px) {
  .scrolled #main-container {
    pointer-events: none;
  }
}

#main-navigation {
  bottom: 8px;
  transition: 300ms;
}

#main-navigation a {
  color: var(--gray);
}

.scrolled #main-navigation {
  display: none !important;
}

#search-container {
  transform-origin: top center;
  border-radius: 12px;
  transition: 0.1s ease-in-out;
}

@media (max-width: 767px) {
  #search-container {
    transform-origin: top right;
  }
}

.scrolled #search-container {
  translate: 0 5px;
  border-radius: 20px;
  overflow: hidden;
  scale: 0.7 0.7;
  width: 50vw;
}

.scrolled #search-tabs-container,
.scrolled .tab-content {
  pointer-events: none;
  transition: 0.1s ease;
  opacity: 0;
  height: 0;
}

.tab-content {
  background-color: white;
  border-bottom-left-radius: var(--spacer);
  border-bottom-right-radius: var(--spacer);
}

#input-placeholder {
  cursor: pointer;
  padding: 12px 16px;
  display: none;
  font-weight: normal;
  font-size: 16px;
  border-radius: 100px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  #input-placeholder {
    display: none !important;
  }
}

#input-placeholder .btn-search {
  width: 30px;
  height: 30px;
}

.scrolled #input-placeholder {
  display: flex;
}

#scroll-btn-container {
  left: 0;
  right: 0;
  top: 0;
  pointer-events: none;
  display: none;
}

@media (max-width: 1599px) {
  #scroll-btn-container {
    display: flex;
  }
}

.btn-scroll {
  background-color: var(--lsu-gold);
  padding: 20px 12px;
  border-radius: 4px;
  margin-top: 8px;
  pointer-events: all;
  cursor: pointer;
}

.scrolled .btn-scroll {
  display: none;
}

.btn-scroll-left {
  margin-left: 4px;
}

.btn-scroll-right {
  margin-right: 4px;
}

@media (max-width: 1599px) {

  .scrolled #search-container {
    top: 0;
  }

  #search-container {
    top: 1rem;
    width: 70vw;
  }
}

@media (max-width: 1199px) {
  #search-container {
    top: 1.5rem;
    width: 80vw;
  }
}

@media (max-width: 767px) {
  #search-container {
    width: 90vw;
  }
}

#search-tabs-container {
  background-color: var(--lighter-gray);
  height: 76px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  /* scroll-snap-type: x mandatory; */
  overflow-x: scroll;
  /* IE and Edge */
  ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
  width: 100%;
}

.nav-tabs>li.active>a:before {
  content: none;
}

#search-tabs-container::-webkit-scrollbar {
  display: none;
}

#search-tabs-container li {
  scroll-snap-align: center;
}

#search-tabs-container li.active a {
  color: initial;
  border: none;
  border-top: 2px solid var(--lsu-gold) !important;
  -webkit-box-shadow: 0 -6px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0 -6px 15px rgba(0, 0, 0, 0.05);
}

#search-tabs-container li:first-of-type a,
#search-tabs-container li:first-of-type.active a {
  border-top-left-radius: 12px !important;
}

#search-tabs-container li:last-of-type a,
#search-tabs-container li:last-of-type.active a {
  border-top-right-radius: 12px !important;
}

.search-tab {
  display: flex !important;
  padding: 0 32px !important;
  width: fit-content;
  margin: 0 !important;
  text-align: center;
  transition: all 0.15s ease-in-out;
  border-radius: 0 !important;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .search-tab {
    width: 90vw !important;
  }
}

.search-tab:hover,
.search-tab:focus {
  border-color: transparent !important;
  color: initial;
}

.search-tab i {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: xx-large;
  color: var(--light-gray);
  transition: all 0.15s ease-in-out;
}

.search-tab:focus {
  outline: none;
}

#search-tabs-container li.active i,
.search-tab:hover i,
.search-tab:focus i {
  color: var(--light-medium-gray);
}

.tab-label {
  width: min-content;
  line-height: 1rem;
}

.tooltip .tooltip-inner {
  background-color: black;
  border-radius: 12px;
  max-width: 100% !important;
  opacity: 0.9;
}

.tab-form-detail {
  padding: 28px;
  color: white;
}

.tab-detail-icon {
  margin-right: 20px;
  font-size: 40px;
  color: var(--lsu-gold);
}

.tab-detail-body {
  text-align: left;
  width: 200px;
}

.tab-detail-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.caret-custom {
  color: var(--gray);
  opacity: 0.3;
  margin: 0;
}

#hours {
  height: max-content;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: white;
  padding: 6px 40px;
  font-weight: 400;
  transform: scaleY(0);
  background-color: transparent;
}

.scroll-none #hours {
  transform: scale(1);
}

@media (max-width: 1200px) {
  #hours {
    background-color: transparent;
    margin: 0 auto;
    padding: 6px 0;
    text-shadow: 1px 1px 0px black;
  }
}

@media (max-width: 799px) {
  #hours {
    width: 100%;
    flex-direction: column;
  }
}

#hours a {
  color: var(--lsu-gold);
  text-decoration: none;
}

#hours th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-right: 1px solid var(--lighter-gray);
}

#hours th,
#hours td {
  padding: 4px 12px;
}

#shortcut-bar {
  border-top: 1px solid var(--lighter-gray);
  transform: scaleY(0);
}

#shortcut-bar a {
  display: flex;
  align-items: center;
}


@media (max-width: 1199px) {
  #shortcut-bar a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#shortcut-bar a:hover {
  border-top: 1px solid var(--lsu-gold);
}

#shortcut-bar .short-label,
#shortcut-bar .long-label {
  color: var(--lighter-gray) !important;
  letter-spacing: 0.1875rem;
}


#shortcut-bar .icon-wrapper {
  display: flex;
  align-items: center;
  width: 1rem;
  height: 1rem;
  margin-right: 8px;
}

@media (max-width: 1199px) {
  #shortcut-bar .icon-wrapper {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0;
    margin-bottom: 4px;
  }
}

#shortcut-bar svg {
  fill: var(--lighter-gray)
}

.scroll-none #shortcut-bar {
  transform: scale(1);
}

#shortcut-bar .short-label {
  display: none;
}

@media (max-width: 1600px) {
  #shortcut-bar .short-label {
    display: block;
    font-size: 0.6875rem;
  }

  #shortcut-bar .long-label {
    display: none;
  }
}

@media (max-width: 768px) {
  #shortcut-bar .mobile-icon {
    padding: 0.625rem 0;
  }
}

.mobile-icon {
  text-align: center;
  padding: 0.625rem 1.25rem
}

.dep7998 {
  display: none;
}

.tab-pane-custom {
  margin-top: 0 !important;
  padding: 0 32px;
}

.tab-pane-custom form {
  height: max-content;
  min-height: 90px;
}

@media (max-width: 1199px) {
  .input-container {
    flex-direction: column;
  }

  .input-container label {
    display: none;
  }
}

@media (max-width: 767px) {
  .input-container {
    align-items: flex-start;
    padding: 16px 0;
    flex-direction: column;
  }
}

.search-input {
  border: none;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  font-size: 1rem;
  padding: 20px;
  letter-spacing: 0.5px;
  height: 50px;
}

.btn-search {
  border: none;
  background-color: var(--lsu-gold);
  background-image: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: var(--black);
  position: absolute;
  right: 4px;
  font-size: 1.2rem;
}

.btn-search:hover,
.btn-search:focus,
.btn-search:active {
  background-color: var(--lsu-gold) !important;
  border: none;
}

#journal-and-news-search-tab input,
#databases-search-tab input,
#catalog-search-tab input {
  font-size: 14px;
}

#journal-and-news-search-tab select,
#databases-search-tab select,
#catalog-search-tab select {
  display: block;
  width: 90%;
}

#journal-and-news-search-tab label,
#databases-search-tab label,
#catalog-search-tab label {
  font-size: 0.75rem;
  letter-spacing: 0.0625rem;
}

.scrolled .js-offcanvas-trigger {
  display: block;
}

.c-offcanvas--custom {
  width: 26em;
  padding: 0 2em;
  text-transform: uppercase;
  color: var(--gray);
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
}

.c-offcanvas--custom .dropdown a {
  padding: 16px 20px;
}

.c-offcanvas--custom .dropdown {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.c-offcanvas--custom .dropdown:last-of-type {
  border: none;
}

.dropdown:hover {
  background-color: initial;
}

.c-offcanvas--custom .dropdown-menu {
  position: static;
  float: none;
}

.c-offcanvas--custom .navbar-nav>li {
  float: none;
}

.dropdown-menu {
  font-size: 12px;
}

@media (max-width: 767px) {
  .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
  }
}

.c-offcanvas--custom .dropdown-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdown-item {
  color: #676767;
}

.dropdown-item:last-of-type {
  border: none;
}

#main-navigation .dropdown-item a,
aside .dropdown-item a {
  font-weight: bold !important;
  letter-spacing: 0.0625rem;
  padding: 2rem !important;
  transition: 0.5s ease;
}

.dropdown-item a:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.more-search {
  width: 82px;
  padding: 0.375rem 0.625rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.625rem;
  border: 1px solid var(--light-medium-gray);
  letter-spacing: 0.0625rem;
  border-radius: 0.25rem;
  line-height: 0.75rem;
}

@media (max-width: 1199px) {
  .more-search {
    width: 100%;
    border: none;
    font-size: 0.8rem;
    text-transform: capitalize;
  }
}

@media(max-width: 1199px) {
  .search-options {
    margin-top: 8px;
  }
}

/* Line height classes */

.line-height-1 {
  line-height: 1.375;
}

.line-height-2 {
  line-height: 1.875rem;
}

/* Text alignment classes */

.text-align-center {
  text-align: center;
}

/* Display classes */

.d-none {
  display: none;
}

/* Text classes */

.font-weight-bold {
  font-weight: 700;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Sizing classes */

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

@media (max-width: 1199px) {
  .md-w-100 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .sm-w-100 {
    width: 100%;
  }
}

.h-100 {
  height: 100%;
}

.w-max {
  width: max-content;
}

/* Display property clasess */

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

/* Flex classes */

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-basis-0 {
  flex-basis: 0%;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-1 {
  flex-shrink: 1;
}

.flex-fill {
  flex: 1
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Justifying classese */

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

/* Alignment classes */

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center
}

/* Positioning classes */

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

/* Spacing classes */

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: calc(var(--spacer) * 0.25)
}

.mt-2 {
  margin-top: 0 calc(var(--spacer) * 0.5)
}

.mt-3 {
  margin-top: var(--spacer)
}

.mt-4 {
  margin-top: calc(var(--spacer) * 1.5)
}

.mt-5 {
  margin-top: calc(var(--spacer) * 3)
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: calc(var(--spacer) * 0.25)
}

.mb-2 {
  margin-bottom: 0 calc(var(--spacer) * 0.5)
}

.mb-3 {
  margin-bottom: var(--spacer)
}

.mb-4 {
  margin-bottom: calc(var(--spacer) * 1.5)
}

.mb-5 {
  margin-bottom: calc(var(--spacer) * 3)
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: calc(var(--spacer) * 0.25)
}

.ml-2 {
  margin-left: 0 calc(var(--spacer) * 0.5)
}

.ml-3 {
  margin-left: var(--spacer)
}

.ml-4 {
  margin-left: calc(var(--spacer) * 1.5)
}

.ml-5 {
  margin-left: calc(var(--spacer) * 3)
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: calc(var(--spacer) * 0.25)
}

.mr-2 {
  margin-right: 0 calc(var(--spacer) * 0.5)
}

.mr-3 {
  margin-right: var(--spacer)
}

.mr-4 {
  margin-right: calc(var(--spacer) * 1.5)
}

.mr-5 {
  margin-right: calc(var(--spacer) * 3)
}

.my-auto {
  margin: auto 0;
}

.my-1 {
  margin: calc(var(--spacer) * 0.25) 0
}

.my-2 {
  margin: calc(var(--spacer) * 0.5) 0
}

.my-3 {
  margin: var(--spacer) 0
}

.my-4 {
  margin: calc(var(--spacer) * 1.5) 0
}

.my-5 {
  margin: calc(var(--spacer) * 3) 0
}

.mx-auto {
  margin: 0 auto;
}

.mx-1 {
  margin: 0 calc(var(--spacer) * 0.25)
}

.mx-2 {
  margin: 0 calc(var(--spacer) * 0.5)
}

.mx-3 {
  margin: 0 var(--spacer)
}

.mx-4 {
  margin: 0 calc(var(--spacer) * 1.5)
}

.mx-5 {
  margin: 0 calc(var(--spacer) * 3)
}

.px-auto {
  padding: 0 auto;
}

.px-1 {
  padding: 0 calc(var(--spacer) * 0.25)
}

.px-2 {
  padding: 0 calc(var(--spacer) * 0.5)
}

.px-3 {
  padding: 0 var(--spacer)
}

.px-4 {
  padding: 0 calc(var(--spacer) * 1.5)
}

.px-5 {
  padding: 0 calc(var(--spacer) * 3)
}

/* Border classes */

.border-none {
  border: none;
}


/* Default overrides */

#search-tabs-container .active i {
  color: #f7f7f7 !important;
}

.main-content {
  background: #f2f2f2;
  overflow-x: hidden;
}

.s-la-box-content {
  background: white;
}

.s-la-box-container {
  background: white;
  border-radius: 5px;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
  border: 0px;
}

.s-la-color-bars {
  background: none;
}

.s-la-box-title {
  padding: 20px;
  border: 0px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  position: relative;
}

.s-la-box-title h2 {
  font-size: 14px;
  margin: 0;
  line-height: normal;
  color: #333;
  letter-spacing: 1.2px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Roboto';
}

.s-la-header {
  padding: 20px 10px 10px 0;
  background: black;
  height: 240px;
  margin-bottom: 20px;
}

#s-la-public-header::before {
  content: '';
  background: url(https://lib.lsu.edu/sites/default/files/2023-05/access_s_0.jpg);
  top: 0px;
  height: 430px;
  z-index: 0;
  width: 100vw;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  filter: brightness(0.7) blur(4px);
  background-position: center;
}

h1.s-la-public-header-title {
  text-shadow: 4px 4px 24px black;
  font-size: 60px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
  padding-top: 40px;
}

.s-la-public-home.s-la-public-header-text {
  text-align: left;
}


.s-la-content-iconitem-icon .fa {
  width: 20px;
  text-align: center;
  font-size: 18px;
  color: #b7b7b7;
  margin-left: 10px;
}

div#s-la-page-column-0 {
  position: relative;
  top: -80px;
  height: 60px;
}

div#s-la-box-116785 .clearfix,
div#s-la-box-116785-container,
div#s-la-box-117078 .clearfix,
div#s-la-box-117078-container {
  background: none;
  box-shadow: none;
}

#s-la-box-116785-container,
#s-la-box-117078-container {
  padding: 0px;
  margin-bottom: 40px;
}

div#s-la-content-text-116909 {
  font-size: 12px;
  font-family: Roboto;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 1px 1px 7px #000000;
}

#s-la-box-116785 .s-la-content-link a,
#s-la-box-117078 .s-la-content-link a {
  font-size: 12px;
  font-family: Roboto;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 1px 1px 7px #000000;
  color: white;
  margin-right: 40px;
}

/* first banner link */
#s-la-content-link-116911,
#s-la-content-link-117300 {
  float: left;
}

#s-la-box-116786-container,
#s-la-box-117079-container {
  top: -20px;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  text-align: center;
  background: #3c1053cc;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#s-la-box-116786 .s-la-box-content,
#s-la-box-117079 .s-la-box-content {
  background: transparent;
  color: white;
}


/*faq link*/
#s-la-content-link-116930 a.s-la-content-link-a,
#s-la-content-link-117303 a.s-la-content-link-a {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #FDD023;
  color: #434343;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 42px;
  align-items: center;
}

div#s-la-content-link-116930,
div#s-la-content-link-117303 {
  margin: 0px -15px;
}

/* Modifying breakpoint via CSS for Bootstrap v3 */

@media (max-width: 1199px) {

  h1.s-la-public-header-title {
    padding-top: 90px;
    text-align: center;
    font-size: 40px;
    padding-bottom: 14px;
    border-bottom: 1px solid #ffffff52;
  }

  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-text {
    float: none;
    margin: 15px 0;
  }

  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important;
  }

  .collapsing {
    overflow: hidden !important;
  }
}

/* Removing outline on focus from input elements */
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: none;
}

#main-content {
  padding-top: 120px;
  min-height: 90vh;
}

.s-ui-autocomplete-list {
  position: relative
}

.input-group-btn {
  position: relative;
  font-size: 0;
  vertical-align: top;
}